---
layout: main
---

        <!--end of notification-->
        <div class="nav-container ">
            
        <div class="main-container">
            <section class="cover unpad--bottom switchable bg--secondary text-center-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-5 mt--3">
                            <h1>
                                Just finished your book?
                            </h1>
                            <p class="lead">
                                We can help you publish it at an affordable price.
                                 <!-- Cool, let us publish it for you. We handle all the ins and outs for publishing a book, called book formatting, design and distribution, we got you cover. -->
                            </p>
                            <a class="btn btn--primary type--uppercase" href="#book-packages">
                                <span class="btn__text">
                                    Check our packages
                                </span>
                            </a>
                            <span class="block type--fine-print">or
                                <a href="index.html">view our other services</a>
                            </span>
                        </div>
                        <div class="col-sm-6">
                            <img alt="Image" src="img/avatar-large-3.png" />
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="feature feature-5 boxed boxed--lg boxed--border">
                                <i class="icon icon-Pantone icon--lg"></i>
                                <div class="feature__body">
                                    <h5>Editorial design</h5>
                                    <p>
                                        We belive in a book as a whole and editorial design is part of that whole. Engage your readers not only with text but with well design books/ebooks.
                                    </p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="feature feature-5 boxed boxed--lg boxed--border">
                                <i class="icon icon-Wrench icon--lg"></i>
                                <div class="feature__body">
                                    <h5>Quality formatting</h5>
                                    <p>
                                        Our team has 7 years of experience in the ebook industry, We sure can give you the best quality service you're looking for.
                                    </p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="feature feature-5 boxed boxed--lg boxed--border">
                                
                                <i class="icon icon-Truck icon--lg"></i>
                                <div class="feature__body">
                                    <h5>Distribution</h5>
                                    <p>
                                        Get your books into the world best bookstores out there. Amazon, Apple, Barnes & Noble, to name a few.
                                    </p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="feature feature-5 boxed boxed--lg boxed--border">
                                <i class="icon icon-Scale icon--lg"></i>
                                <div class="feature__body">
                                    <h5>You own the rights</h5>
                                    <p>
                                        Although we register your book with our publishing firm we grant you all the rights for your creation. We don't get a dime for your hard work.
                                    </p>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            
            {% include services_table.html%}
            
            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>They trust us</h2>
                            <p class="lead">
                                We have worked with the best organizations out there.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="list-inline list-inline--images">
                                <li>
                                    <img alt="Image" src="img/partner-1.png" />
                                </li>
                                <li>
                                    <img alt="Image" src="img/partner-2.png" />
                                </li>
                                <li>
                                    <img alt="Image" src="img/partner-3.png" />
                                </li>
                                <li>
                                    <img alt="Image" src="img/partner-4.png" />
                                </li>
                                <li>
                                    <img alt="Image" src="img/partner-5.png" />
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            
 {% include testimonials.html %}           
            