---
layout: main
title: Bestseller Pack
permalink: /services/bestseller-pack/
hosted_button_id: G4XFYZZKRQEY2
---
<div class="tabs-container " data-content-align="left">
    <ul>
        <li class="active">
            <div class="tab__content">
                <section class="switchable ">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-md-5">
                                <div class="switchable__text">
                                    <div class="switchable__text">
                                        <h2>Bestseller Pack</h2>
                                        <p class="lead">
                                            If you are new to electronic publishing world and want to publish your book online and you feel  overwhelmed because of all the information available this package is for you. We take care of everything, from formatting your book, accounts creation to the book submission. At the end you'll receive your book and accounts.
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-md-pull-1 col-xs-12">
                                <div class="pricing pricing-1 boxed boxed--lg boxed--border">
                                    <h3>Price</h3>
                                    <span class="h2">
                                        <strong>$150</strong>
                                    </span>
                                   
                                    
                                    <hr>
                                    <ul>
                                        <li>
                                            <span class="checkmark bg--primary-1"></span>
                                            <span>ISBN</span>
                                        </li>
                                        <li>
                                            <span class="checkmark bg--primary-1"></span>
                                            <span>High Quality Formatting</span>
                                        </li>
                                        <li>
                                            <span class="checkmark bg--primary-1"></span>
                                            <span>Book Cover</span>
                                        </li>
                                        <li>
                                            <span class="checkmark bg--primary-1"></span>
                                            <span>Valid ePub book</span>
                                        </li>
                                        <li>
                                            <span class="checkmark bg--primary-1"></span>
                                            <span>Valid mobi book</span>
                                        </li>
                                        <li>
                                            <span class="checkmark bg--primary-1"></span>
                                            <span>Accounts (Amazon, Smashwords)</span>
                                        </li>
                                        <li>
                                            <span class="checkmark bg--primary-1"></span>
                                            <span>Book submission (Amazon, Apple, others)</span>
                                        </li>
                                        <li>
                                            <span class="checkmark bg--primary-1"></span>
                                            <span>Support</span>
                                        </li>
                                    </ul>

                                    {% include paypal.html %}


                                </div>
                                <!--end of pricing-->
                            </div>
                        </div>
                        <!--end of row-->
                    </div>
                    <!--end of container-->
                </section>
            </div>
        </li>
        
    </ul>
</div>

{% include service_contact.html %}