---
layout: main
title: Indie Pack
permalink: /services/indie-pack/
hosted_button_id: YD33BEZSZ3ZEY
---

<div class="tabs-container " data-content-align="left">
<br>

    <ul>
        <li class="active">
            <div class="tab__content">
                <section class="switchable ">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-md-5">
                                <div class="switchable__text">
                                    <div class="switchable__text">
                                        <h2>Indie Pack</h2>
                                        <p class="lead">
                                            If you already know how to submit a book to the different book stores this package is for you. We take care of the technicalities and deliver high quality ebooks so you can submit it yourself.
                                        </p>
                                        <div class="boxed boxed--border  bg--secondary boxed--lg box-shadow">
                                            <p>
                                                Nothing can go easy then Fabro. I didn't want to worry about the quality of my book so I give it a try to Fabro and I was not disappointed! 
                                            </p>

                                            <p class="text-right" style="padding: 0; margin: 0;">
                                                <b>Emiliano Villa</b>
                                            </p>
                                            <p class="text-right" style="padding: 0; margin: 0;">
                                                <a href="https://www.amazon.com/Ross-P%C3%A9rez-resuelve-trabajo-Detective-ebook/dp/B00JDK2ZTW/ref=sr_1_fkmr0_2?s=books&ie=UTF8&qid=1504830062&sr=1-2-fkmr0&keywords=emilio+villa+resuelve" target="_blank">Ross Pérez resuelve</a>
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-md-pull-1 col-xs-12">
                                <div class="pricing pricing-1 boxed boxed--lg boxed--border">
                                    <h3>Price</h3>
                                    <span class="h2">
                                        <strong>$90</strong>
                                    </span>
                                    <span class="label">Clients Choice</span>
                                    
                                    <hr>
                                    <ul>
                                        <li>
                                            <span class="checkmark bg--primary-1"></span>
                                            <span>ISBN</span>
                                        </li>
                                        <li>
                                            <span class="checkmark bg--primary-1"></span>
                                            <span>High Quality Formatting</span>
                                        </li>
                                        <li>
                                            <span class="checkmark bg--primary-1"></span>
                                            <span>Book Cover</span>
                                        </li>
                                        <li>
                                            <span class="checkmark bg--primary-1"></span>
                                            <span>Valid ePub book</span>
                                        </li>
                                        <li>
                                            <span class="checkmark bg--primary-1"></span>
                                            <span>Valid mobi book</span>
                                        </li>
                                    </ul>

                                    {% include paypal.html %}

                                </div>
                                <!--end of pricing-->
                            </div>

                        </div>
                        <!--end of row-->
                    </div>
                    <!--end of container-->
                </section>
            </div>
        </li>
    </ul>
</div>


{% include service_contact.html %}